body{
    font-family:Arial, Helvetica, sans-serif
}

.wd-search-setting-bar{
    display: flex;
}

#wd-search-field{
    float:left;
    width: 80%;
    border-radius: 20px;
    margin: 10px 5px 20px 20px;
    height: 50px;
    background-color: lightgrey;
    color: darkgray;
    padding-left: 20px;
}

.wd-css-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    border-radius: 10px;
    border:1px;
    border-style: solid;
    border-color: lightgray;
    
}
.wd-magnify-glass{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#wd-gear-icon{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.wd-float-left{
    float:left
}

.wd-topic-list{
    display: flex;
    height: 40px;
    list-style: none;
    justify-content: left;
    align-items:flex-start;
    text-align:center;
    padding-left: 0px;
    padding-bottom:0px;
    margin-bottom:0px;
}

.wd-topic-list li{
    width: 100px;
    height: 40px;
    justify-content: left;
    align-items: left;  
    vertical-align: middle; 
    text-align: center;
    padding:0%
}

.wd-topic{
    padding-bottom: 19px
}

.wd-selected{
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom:5px;
    border-style:solid;
    border-color:blue;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}



.wd-text-overlay-image-container{
    position: relative;
    width: 100%;
    border:1px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
}

.wd-overlaid-heading{
    position: absolute;
    top: 50%;
    padding: px;
    z-index: 2;
    font-size: calc(4vw + 10px);
    color:white;
    
}

.wd-text-overlay-image-container .wd-explore-image{
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.wd-tuit-list{
    list-style: none;
}

.wd-tuit-list-item{
    width: 100%;
    height: 75px;
    padding-left: 0px;
    align-items: center;
    vertical-align:middle;
    padding-bottom:10px;
    padding-top: 10px;
    
}
.wd-tuit-category{
    color:grey;
    margin-bottom:20px;

}

.wd-tuit-heading{
    font-size:x-large;
    margin-top:20px;
    margin-bottom:20px;
    color:black;

}

.wd-tuit-count{
    margin-top:20px;
    color:grey;

}

.wd-float-right{
    float:right;
    padding-right:30px;
}


/* CSS for bootstrap  */

.wd-magnify-icon{
    position: absolute!important;
    bottom : 10px;
}
.wd-image-title{
    color: white;
}

.nav-tabs > .nav-item > .nav-link{
    color: #2e7bff;
}

.wd-btsp-tuit-list > .list-group-item {
    height: 140px;
}

.wd-btsp-tuit-list > .list-group-item > 
.row > .col-9 > .wd-tuit-content > .wd-tuit-category{
    font-size: large;
    margin-bottom: 5px;
    padding: 0px;

}

.wd-btsp-tuit-list > .list-group-item > 
.row > .col-9 > .wd-tuit-content > .wd-tuit-heading{
    font-size:large;
    margin-top:5px;
    margin-bottom:5px;
    color:black;

}

.wd-btsp-tuit-list > .list-group-item > 
.row > .col-9 > .wd-tuit-content > .wd-tuit-count{
    font-size: large;
    margin-top:5px;
    color:grey;
}


.wd-btsp-tuit-container{

    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    
}

.wd-btsp-tuit-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 15px 15px;
    top: 0;
    left: 0;
    right:0
}

.wd-btsp-follow-profile-container{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
}

.wd-btsp-follow-profile-image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px 50px 50px 50px;
    top: 0;
    left: 0;
    right:0
}

